---
layout: default
title:  "مستندات مای بی‌بی"
categories: [page]
---
<article id="docs_page">
	<header id="mainFeature">
		<div class="wrapper">
			<h1>مستندات مای بي‌بی</h1>
			<p class="description">به مستندات مای بی‌بی خوش آمدید. در اینجا شما می‌توانید آموزش‌هایی در مورد مای بی‌بی و مستندات آنلاین مای بی‌بی را مشاهده نموده و راه‌حلی برای مسائل خود بیابید.</p>
		</div>
	</header>
	<div class="page wrapper">
		<section>
			<h1>مستندات مای بی‌بی ۱.۸</h1>

			<section>
				<h2>نصب و راه‌اندازی</h2>
				{% include category.html category="install" %}

				<h2>سیستم ادغام</h2>
				{% include category.html category="merge" %}
			</section>

			<section>
				<h2>توسعه</h2>
				{% include category.html category="development" %}

				<h3>افزونه‌ها</h3>
				{% include category.html category="plugins" %}

				<h3>پوسته‌ها</h3>
				{% include category.html category="themes" %}

				<h3>ترجمه‌ها</h3>
				{% include category.html category="translations" %}
				
				<a name="mods-guide"></a>
				<h3>وب‌سایت افزونه‌ها</h3>
				{% include category.html category="mods" %}
			</section>

			<section>
				<h2>پرسش‌های متداول</h2>
				{% include category.html category="faq" %}
			</section>

			<section>
				<h2>مدیریت</h2>
				{% include category.html category="administration" %}

				<h3>امنیت</h3>
				{% include category.html category="security" %}
			</section>
		</section>

		<section>
			<h1>نسخه‌ها</h1>
			{% include category.html category="versions" %}
		</section>

		<section>
			<h1>مستندات مای بی‌بی ۱.۶</h1>
			
			<a href="{{ site.baseurl }}/1.6/">مشاهده‌ی مستندات قدیمی برای ۱.۶</a>
		</section>
	</div>
</article>
